/jdbc/dist/
/PurchaseSystem/nbproject/private/
/PurchaseSystem/build/
/Project/nbproject/private/
/Demo/nbproject/private/
/Demo/build/
/evidenceJdbc/nbproject/private/
/inventoryCalcuation/nbproject/private/
/evidenceJdbc/build/
/inventoryCalcuation/build/